@import "bootstrap";

$inset-fade: 25px !default;

.timer-display {
    font-size: 6rem;
    text-align: center;
    border-radius: $border-radius;
}

.timer-display-active {
    border: 1px solid $green;
    -moz-box-shadow:    inset 0 0 $inset-fade $green;
    -webkit-box-shadow: inset 0 0 $inset-fade $green;
    box-shadow:         inset 0 0 $inset-fade $green;
}

.timer-display-warning {
    border: 1px solid $yellow;
    -moz-box-shadow:    inset 0 0 $inset-fade $yellow;
    -webkit-box-shadow: inset 0 0 $inset-fade $yellow;
    box-shadow:         inset 0 0 $inset-fade $yellow;
}

.timer-display-done {
    border: 1px solid $red;
    -moz-box-shadow:    inset 0 0 $inset-fade $red;
    -webkit-box-shadow: inset 0 0 $inset-fade $red;
    box-shadow:         inset 0 0 $inset-fade $red;
}

.timer-col {
    @extend .col-xs-12 !optional;
    @extend .col-sm-10 !optional;
    @extend .col-md-7 !optional;
    @extend .col-lg-4 !optional;
    @extend .mx-auto !optional;
}

.timer-btn {
    @extend .btn-lg !optional;
    @extend .btn-block !optional;
}

.timer-btn-row-spacer {
    margin-top: 10px;
}